@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translateY(80%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0%);
  }
  20%{
    transform: translateX(-4%);
  }
  70%{
    transform: translateX(4%);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes touch {
  0% {
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(255,255,255,0.4);
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(255,255,255,0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes rotateCoin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes waves {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}