@forward "./animation.scss";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width:100%;
}

li{
  display: block;
}

html{
  font-size: 10px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width:100%;
  min-height: 100svh;
  font-size: 1.6rem;
  text-align: center;
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}

.component-area{
  display: flex;
  width:100%;
  gap:1.5rem;
  flex-wrap: wrap;
  > div{
    width:calc(100% - 4rem);
    margin:0 auto;
    padding:2rem;
    border-radius: 2rem;
    background-color: #616161;
  }
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.row{
    flex-direction: row;
  }
  &.gap-1{
    gap:1rem;
  }
  ~ .box{
    margin-top:3rem;
  }
}

[data-animate="fadeIn"]{
  animation: fadeIn 1.6s forwards ease-in-out;
}

.sample-box{
  width:150px;
  height:150px;
  border-radius: 10px;
  background-color: #eee;
  color:#333;
  display: flex;
  align-items: center;
  justify-content: center;
  & ~ .sample-box{
    margin-top:3rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
